.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.service {
  background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
height: 100vh;
}

.registro{
  background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
height: 75vh; 
}

.title1{
  font-size:60px;
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 70%);
}
.btn2{
    -webkit-text-stroke: 2px rgb(243, 240, 236);
    color: transparent;
    font-size: 25px;
  }

  .btn1{
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
font-size: 25px;  
}
.subtitle{
  color: black solid;
  font-size: 30px;
}

.block{
  background-color:rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 15%, rgba(0,212,255,1) 100%);;
  width: 50%;
  height: 600px;
  border: 15px solid rgb(243, 237, 237);
  margin-top: 1%;
  margin-left: 600px;
}
.titlepago{
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  color: black;
}
.blockpago{
  background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  height: 100vh;
  color: whitesmoke;
}
.btnpago{
  margin-left: 35%;
  width: 10%;
  height: 40px;
  margin-top: 2%;
  background-color: rgb(218, 240, 15);
}
.btnpago2{
  width: 15%;
  height: 40px;
  margin-top: 2%;
  margin-left: 3%;
  background-color: rgb(10, 183, 30);
  color:black;
  font-size: 20px;
}